.App {
    text-align: center;
}

.boardWrapper{
  height: 100vh;
  overflow-y: hidden;
}

.label{
  margin: calc((100vh - 650px)/8) auto;
}

.gameboard{
  background-color:rgb(233, 198, 156);
  box-shadow:-2px -2px 2px #f3f3f3, 4px 4px 4px #cacaca;
}
